.next
.turbo
node_modules
.venv
.vendor
.tmp
__pycache__
.pytest_cache
.mypy_cache
dist
build
.env
.env.local
.env.*.local
coverage
*.pyc
*.pyo
*.pyd
.DS_Store
.idea
.vscode
pnpm-lock.yaml
yarn.lock
package-lock.json
